/* line 1, /Applications/MAMP/htdocs/moist-floating.github.com/resources/css/common.scss */
html, body {
  width: 100%;
  height: 100%;
  font-family: sans-serif; }

/* line 2, /Applications/MAMP/htdocs/moist-floating.github.com/resources/css/common.scss */
body {
  background: #333; }

/* line 3, /Applications/MAMP/htdocs/moist-floating.github.com/resources/css/common.scss */
a {
  color: inherit;
  text-decoration: none; }

/* line 4, /Applications/MAMP/htdocs/moist-floating.github.com/resources/css/common.scss */
#map {
  width: 100%;
  height: 100%; }

/* line 6, /Applications/MAMP/htdocs/moist-floating.github.com/resources/css/common.scss */
#post {
  display: none;
  overflow: scroll;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -800px;
  width: 600px;
  background: rgba(255, 255, 255, 0.9);
  z-index: 9999;
  transition: transform 300ms ease-out;
  transform: translateX(0); }
  /* line 7, /Applications/MAMP/htdocs/moist-floating.github.com/resources/css/common.scss */
  #post.opened {
    display: block;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.25); }
  /* line 8, /Applications/MAMP/htdocs/moist-floating.github.com/resources/css/common.scss */
  #post-close {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 9999;
    width: 30px;
    height: 15px;
    margin: 0;
    padding: 0;
    background: none;
    border: 0; }

/* line 12, /Applications/MAMP/htdocs/moist-floating.github.com/resources/css/common.scss */
.post-title {
  position: relative;
  height: 360px; }
  /* line 13, /Applications/MAMP/htdocs/moist-floating.github.com/resources/css/common.scss */
  .post-title h1 {
    position: absolute;
    top: 30px;
    left: 135px;
    font-size: 66px;
    font-weight: 900;
    color: #fff;
    z-index: 100;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
  /* line 14, /Applications/MAMP/htdocs/moist-floating.github.com/resources/css/common.scss */
  .post-title .date {
    font-size: 14px;
    color: #333; }
  /* line 15, /Applications/MAMP/htdocs/moist-floating.github.com/resources/css/common.scss */
  .post-title .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10; }
    /* line 16, /Applications/MAMP/htdocs/moist-floating.github.com/resources/css/common.scss */
    .post-title .bg-cover {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.35);
      background-image: url(../img/about-cover-gradient.png);
      background-repeat: no-repeat;
      opacity: 0.6;
      z-index: 2; }
      /* line 17, /Applications/MAMP/htdocs/moist-floating.github.com/resources/css/common.scss */
      .post-title .bg-cover .copyrighter {
        position: absolute;
        left: 140px;
        bottom: 20px;
        color: #fff;
        font-size: 12px; }
    /* line 19, /Applications/MAMP/htdocs/moist-floating.github.com/resources/css/common.scss */
    .post-title .bg-image {
      position: absolute;
      width: 100%;
      height: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 1; }

/* line 22, /Applications/MAMP/htdocs/moist-floating.github.com/resources/css/common.scss */
.post-body {
  padding: 40px; }
  /* line 23, /Applications/MAMP/htdocs/moist-floating.github.com/resources/css/common.scss */
  .post-body dl {
    overflow: hidden;
    padding-left: 100px;
    padding-top: 50px; }
    /* line 25, /Applications/MAMP/htdocs/moist-floating.github.com/resources/css/common.scss */
    .post-body dl dd {
      word-break: break-all;
      line-height: 1.65em; }
      /* line 26, /Applications/MAMP/htdocs/moist-floating.github.com/resources/css/common.scss */
      .post-body dl dd p {
        padding-top: 20px; }
        /* line 27, /Applications/MAMP/htdocs/moist-floating.github.com/resources/css/common.scss */
        .post-body dl dd p:first-child {
          padding: 0; }
    /* line 30, /Applications/MAMP/htdocs/moist-floating.github.com/resources/css/common.scss */
    .post-body dl:first-child {
      padding-top: 0; }
  /* line 32, /Applications/MAMP/htdocs/moist-floating.github.com/resources/css/common.scss */
  .post-body .profile {
    display: block;
    float: left;
    width: 50%;
    margin-bottom: 15px; }
    /* line 33, /Applications/MAMP/htdocs/moist-floating.github.com/resources/css/common.scss */
    .post-body .profile-photo {
      display: inline-block;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      background: #666;
      vertical-align: middle; }
    /* line 34, /Applications/MAMP/htdocs/moist-floating.github.com/resources/css/common.scss */
    .post-body .profile-name {
      padding-left: 10px;
      line-height: 50px; }

/* line 38, /Applications/MAMP/htdocs/moist-floating.github.com/resources/css/common.scss */
.post .name {
  position: absolute;
  left: 40px;
  padding-top: 5px;
  border-top: 1px solid #000;
  font-size: 11px;
  font-weight: 900;
  text-transform: uppercase; }

/*# sourceMappingURL=common.css.map */