html,body{width: 100%;height: 100%;font-family: sans-serif;}
body{background: #333;}
a{color:inherit;text-decoration: none;}
#map{width: 100%;height: 100%;}

#post{display: none;overflow: scroll;position: absolute;top:0;bottom: 0; left: -800px;width:600px;background:rgba(255,255,255,0.9);z-index: 9999;-ms-transform: translateX(0);-webkit-transform: translateX(0); transform: translateX(0); -ms-transition: transform 300ms ease-out; -webkit-transition: transform 300ms ease-out; transition: transform 300ms ease-out;
	&.opened{display: block;box-shadow: 1px 0 10px rgba(0,0,0,0.25);}
	&-close{position: absolute;top:25px;right: 25px;z-index: 9999;width: 30px;height: 15px;margin: 0;padding: 0; background: none; border:0;}
}
#member{position: fixed; bottom:25px; left: 30px;z-index: 1000;
	dl{position: relative;
		dt{position: absolute;font-size: 12px;font-weight: bold;text-transform: uppercase;line-height: 30px;text-decoration: underline;}
		dd{padding-left: 80px;
			ul{font-size: 0;
				li{display: inline-block;position: relative; width: 30px;height: 30px;margin-right: 5px; border-radius: 25px;
					a{display: block;
						img{width: 30px;height: 30px; border-radius: 25px;}
					}
					.tooltip{width: 50px; position: absolute;top:0;left:0;margin: -30px 0 0 -10px;text-align: center;visibility: hidden;opacity: 0;-webkit-transition: opacity 300ms ease-out;transition: opacity 300ms ease-out;
						>span{display: block;width: 40px; padding: 5px;font-size: 12px;background: #fff;border-radius: 3px;}
						&:after{content: '';display: inline-block;width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #fff;}
					}
					&:hover{
						.tooltip{visibility: visible;opacity: 1;}
					}
				}
			}
		}
	}
}

.post{
	&-title{position: relative;height: 360px;
		h1{position: absolute;top:30px;left: 135px;font-size: 66px;font-weight: 100;color: #fff;z-index: 100;text-shadow: 0 1px 3px rgba(0,0,0,0.3)}
		.date{font-size: 14px;color: #333;}
		.bg{position: absolute;top:0;left: 0;width: 100%;height: 100%;z-index: 10;
			&-cover{position: absolute;width: 100%;height: 100%;background-color: rgba(0,0,0,0.35);background-image: url(../img/about-cover-gradient.png);background-repeat: no-repeat;opacity: 0.6; z-index: 2;
				.copyrighter{position: absolute;left: 140px;bottom: 20px;color: #fff;font-size: 12px;}
			}
			&-image{position: absolute;width: 100%;height: 100%;background-position:center center;background-repeat: no-repeat;background-size: cover; z-index: 1;}
		}
	}
	&-body{padding: 40px;
		dl{overflow: hidden;padding-left: 100px;padding-top: 50px;
			dd{word-break: break-all;line-height: 1.65em;
				p{padding-top:20px;
					&:first-child{padding: 0;}
				}
			}
			&:first-child{padding-top: 0;}
		}
		.profile{display: block;float: left;width: 50%;margin-bottom: 15px;
			&-photo{display: inline-block;width: 50px;height: 50px;border-radius: 25px;background: #666;vertical-align: middle;}
			&-name{padding-left: 10px;line-height: 50px;}
		}
	}
	
	.name{position: absolute;left: 40px;padding-top:5px;border-top:1px solid #000;font-size: 11px;font-weight: 900;text-transform: uppercase;}
}